<ActionBar title="Editor">
    <NavigationButton text="Back" (tap)="back()" android.systemIcon="ic_menu_back">
    <!--<ActionItem text="Save" (tap)="save()" class="icons-container">-->
        <!--<Label class="mdi" [text]="'mdi-keyboard-backspace' | fonticon"></Label>-->
    <!--</ActionItem>-->
    </NavigationButton>

    <ActionItem text="Save" (tap)="save()" class="icons-container">
        <Label class="mdi" [text]="'mdi-check-circle' | fonticon"></Label>
    </ActionItem>
</ActionBar>
<StackLayout>
    <TextField hint="Name" [(ngModel)]="item.name"></TextField>
    <TextField hint="Phone" [(ngModel)]="item.phone"></TextField>
</StackLayout>