
@import 'nativescript-theme-core/css/core.light.css';

.mdi {
    font-family: "Material Icons", "MaterialIcons-Regular";
}

.icons-container Label {
    font-size: 28px;
    padding-bottom: 0px;
    opacity: 0.5
}

/*Image.other-profile-image {*/
    /*height: 75px;*/
    /*width: 75px;*/
    /*border-radius: 36px;*/
/*}*/

ActionBar {
    background-color:#53b0bd;
    color: #0a1c27;
}

ActionItem{
    color: #0a1c27;
}

TextField {
    padding: 50px;
    font-size: 20px;
    placeholder-color: black;
}

Page {
    font-size: 15px;
}

.h1 {
    font-size: 36px;
}

.h2 {
    text-align: center;
    font-size: 32px;
    vertical-align: center;
}

.h3 {
    font-size: 20px;
}

.h4 {
    font-size: 18px;
    font-family:monospace
}

.page{
    background-color: white;
    color:#0a1c27;
}

.btn-primary {
    color:#0a1c27;
}

/*.list-item-custom{*/
    /*font-size: 22px;*/
    /*opacity: 1;*/
    /*padding-top: 13px*/
/*}*/



