
@import 'nativescript-theme-core/css/core.light.css';

.mdi {
    font-family: "Material Icons", "MaterialIcons-Regular";
}

.icons-container Label {
    /*text-align: center;*/
    font-size: 28px;
    /*vertical-align: center;*/
    padding-bottom: 0px;
}


ActionBar {
    background-color:#53b0bd;
    color: #0a1c27;
}

ActionItem{
    color: #0a1c27;
}

/*TextField {*/
    /*padding: 10px;*/
    /*font-size: 13px;*/
/*}*/

Page {
    font-size: 15px;
}

.h1 {
    font-size: 36px;
}

.h2 {
    text-align: center;
    font-size: 32px;
    vertical-align: center;
    /*padding-bottom: 30px;*/
}

.h3 {
    font-size: 24px;
}

.h4 {
    font-size: 18px;
}


.page{
    background-color: white;
    /*border-color: #35478c;*/
    color:#0a1c27;
}

.btn-primary {
    /*background-color: #35478c;*/
    /*border-color: #35478c;*/
    color:#0a1c27;
}



