<ActionBar title="Detail page">
    <NavigationButton text="Back" (tap)="back()" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem text="Edit" [nsRouterLink]="['/items', item.id, 'edit']" class="icons-container">
       <Label class="mdi" [text]="'mdi-create' | fonticon" style="padding-right: 50px"></Label>
    </ActionItem>
</ActionBar>
<FlexboxLayout flexDirection="column" style="padding-left: 55px">
    <FlexboxLayout >
        <Label class="h3" [text]="'Name : ' + item.name" ></Label>
    </FlexboxLayout>

    <FlexboxLayout >
        <Label class="h3" [text]="'Phone : '"></Label>
        <Label class="h3" [text]="item.phone"></Label>
    </FlexboxLayout>
</FlexboxLayout>
