<ActionBar title="Person List">
    <ActionItem text="Add" [nsRouterLink]="['/create']" class="icons-container">
        <Label class="mdi" [text]="'mdi-person-add' | fonticon"></Label>
    </ActionItem>
</ActionBar>
<!--<Image-->
       <!--src="~/images/people-png-21.png"-->
       <!--class="other-cover-image"-->
       <!--height="80" stretch="none" width="80">-->

<!--</Image>-->
<StackLayout class="page">

    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <StackLayout>
                <GridLayout columns="*, auto">
                    <StackLayout class="icons-container">
                        <Label class="mdi" [text]="'mdi-face' | fonticon"></Label>
                        <Label [nsRouterLink]="['/items', item.id]" [text]="item.name" class="h3"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="icons-container">
                        <Label class="mdi"
                               [text]="'mdi-cancel' | fonticon" (tap)="remove(item)">
                        </Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>

